.home-parent {
    height: 810px;
    width: 1750px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
}

.home-left {
    width: 700px;
    height: 810px;
    background-color: #ffffff;
    border-radius: 12px;
    text-align: center;
  }

.atlas {
    max-width: 700px;
    max-height: 800px;
    border-radius: 12px;
    margin-top: 25px;
  }
  
.art-text p {
    font-size: x-large;
    font-style: italic;
    color: #000000;
    font-family: 'Snell Roundhand, cursive';
}

.artist-components {
    width: 1350px;
    height: 810px;
    /* border: 1.5px solid #000000;   */
    background-color: grey;
    border-radius: 12px;
    margin-left: 5px;

    
}

.home-cards {
    margin-top: 20px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}